.paragraph-styling {
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
  display: list-item;
  list-style-type: upper-roman;
  list-style-position: inside;
}
footer {
  margin: 200px auto;
  text-align: center;
}
body {
  background-color: #cfaec2;
}
